<include href="includes/header.html"></include>

</head>
<style>
    .landing {
        text-align: center;
        background-color: #2b542c;
        width: 30em;
        height: 40em;
        margin: 0 auto;
        margin-top: 2em;
    }

    .landing h1 {
        padding: 1em;
        color: white;
    }

    input {
        margin: .33em;
    }

    form label {
        color: white;
    }

    button {
        margin: .5em;
    }
</style>

<body>
 <div class="landing">
     <h1>Welcome to Advise it</h1>
     <form action="#" method="POST">

         <label>Username: </label>
         <br>
         <input type="text" name="username" id="username" placeholder="Username..." required />
         <br>
         <label>Password: </label>
         <br>
         <input type="text" name="password" id="password" placeholder="Password..." required />
            <br>
         <button type="submit" class="btn btn-primary">Login</button>

     </form>
     <form action="#" method="POST">
         <button class="btn btn-primary newSchedButton" type="submit">Create new schedule</button><br>
     </form>

 </div>


</body>
</html>