<include href="includes/header.html"></include>

<body>
 <form class="scheduleForm" action="#" method="POST">
     <h4>https://www.cnorris.greenriverdev.com/485/Advise-it/new_schedule/{{ @token }}</h4>
     <div class="row mb-1">
         <div class="col-4 text-right">
             <label for="fall" class="form-text">Fall</label>
         </div>
         <div class="col-8">
             <input type="fall" id="fall" name="fall" class="form-control">
         </div>
     </div>
     <!-- Password -->
     <div class="row">
         <div class="col-4 text-right">
             <label for="winter" class="form-text">Winter</label>
         </div>
         <div class="col-8">
             <input type="winter" id="winter" name="winter" class="form-control">
         </div>

     </div>
     <div class="row">
         <div class="col-4 text-right">
             <label for="spring" class="form-text">Spring</label>
         </div>
         <div class="col-8">
             <input type="spring" id="spring" name="spring" class="form-control">
         </div>

     </div>
     <div class="row">
         <div class="col-4 text-right">
             <label for="summer" class="form-text">Summer</label>
         </div>
         <div class="col-8">
             <input type="summer" id="summer" name="summer" class="form-control">
         </div>
         <button type="submit">Save</button>

     </div>
 </form>
</body>
</html>