<include href="includes/header.html"></include>

<body>
<div class="formContainer">
    <h4>https://www.cnorris.greenriverdev.com/485/Advise-it/new_schedule/{{ @token }}</h4>
    <form action="#" method="POST">

        <div class="input-group">
            <div  class="form-floating mb-3 textareaBox">
                <textarea type="textarea" id="fall" name="fall" class="form-control"> </textarea>
                <label for="fall" class="form-text">Fall</label>
            </div>

            <span class="input-group-addon">   </span>

            <div  class="form-floating textareaBox">
                <textarea type="winter" id="winter" name="winter" class="form-control"> </textarea>
                <label for="winter" class="form-text">Winter</label>
            </div>
        </div>

        <div class="input-group">
            <div  class="form-floating mb-3 textareaBox">
                <textarea placeholder="Password" type="spring" id="spring" name="spring" class="form-control"> </textarea>
                <label for="spring" class="form-text">Spring</label>
            </div>
            <span class="input-group-addon"></span>
            <div class="form-floating textareaBox">
               <textarea type="summer" id="summer" name="summer" class="form-control"> </textarea>
               <label for="summer" class="form-text">Summer</label>
            </div>
        </div>

        <button class="scheduleButton" type="submit">Save</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>