
h4 {
    text-align: center;
    color: black;
    font-size: 1.2em;
    padding: 1.2em;
}

.formContainer {
   width: fit-content;
    display: block;
    margin: 0 auto;
    color: white;
}

.formContainer form {
    width: fit-content;
    background-color: #2b542c;
    margin: 0 auto;
    padding: 3em 3em 3em 3em;
}

#winter, #fall, #spring, #summer {
    width: 15em;
    height: 15em;
}

.scheduleButton {
    margin-top: 5em;
    display: block;
    margin: 0 auto;
    width: 5em;
}

.textareaBox {
    margin: 1em;
}

.updated {
    text-align: center;
    padding: .5em;
}

.inline h4 {
    display: inline-block;
}

.inline div {
    display: inline-block;
}

h1 {
    text-align: center;
}

#queryStatus {
    color: black;
    text-align: center;
}

.advisorBox {
    display: block;
    margin: 1em;
    margin: 0 auto;
}

.homeButton a {
    color: white;
    text-decoration: none;
}
